
        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Welcome to  <em>AUTHOR</em> personal website!</p>
          </div>

          <div class="sidebar-module">
            <h4>Important sites</h4>
            <ol class="list-unstyled">
		      <li><a href="http://www.flickr.com" title="" target="external">flickr.com</a></li>
		      <li><a href="https://github.com" title="" target="external">GitHub</a></li>
		      <li><a href="https://bitbucket.org" title="" target="external">BitBucket</a></li>
            </ol>
          </div>

          <div class="sidebar-module">
	    <h4>Affiliated sites</h4>
            <ol class="list-unstyled">
               <li><a href="http://www.linux.cz/" title="Linux" target="external">http://www.linux.cz/</a></li>
	    </ol>
          </div>

          <div class="sidebar-module">
	    <h4>Contact</h4>
            <ol class="list-unstyled">
	      <li>AUTHOR</li>
            </ol>
          </div>
       </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
     <p>
  Copyright (C) {{ site.time | date: "%Y" }} AUTHOR ::
 All rights reserved :: Design based on <a href="http://getbootstrap.com/examples/blog/">Blog template</a> for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a> :: favicon.ico comes from <a href="http://www.freefavicon.com">Freefavicon.com</a>
</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% js bootstrap_bundle %}
  </body>
</html>
